

body {
  overflow: hidden;
}
#playerCardsContainer {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;

}

#opponentCardsContainer {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
  padding-top: 0.75%;
}


.PileCard {
  width: 40%;
  background-size: contain !important;
}

#textContainer {
  font-size: 2vw;
}


#stackContainer {
  padding-left: 3%;
}

.StackCard {
  width: 22%;
  background-size: contain !important;
}



.Card {
  background-size: contain !important;
  width: 8%;
}

.CardUp {
  top: -25px;
  position: relative;
}

.secondCard, .thirdCard, .fourthCard, .fifthCard, .sixthCard,
.seventhCard, .eighthCard, .ninthCard, .tenthCard, .eleventhCard {

}
