@(username: String, roomName: String, env: securesocial.core.RuntimeEnvironment)

@scripts = {
    <script type="text/javascript" charset="utf-8" src="@routes.Chat.chatRoomJs(username, roomName)"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
}

@main("PhaseX - Lobby", username, env, scripts) {
    <div class="page-header row">
        <h1>Welcome to the chat room <small>You are chatting as @username</small></h1>
    </div>

    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>

    <div id="onChat" class="row">
        <div class="col-xs-offset-1 col-xs-8" id="main">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="col-xs-2">
            <h2>Members</h2>
            <ul id="members">
            </ul>
            <button type="button" class="btn btn-xs" id="startButton">Start Game</button>
        </div>
    </div>
}