@(connected: String, roomName: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>PhaseX</title>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("less/main.css")'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">Websocket Chat-Room</a>

                    @if(connected != null) {
                        <p class="pull-right">
                            Logged in as @connected —
                            <a href="@routes.Application.index()">Disconnect</a>
                        </p>
                    } else {
                        <form action="@routes.Chat.chatRoom()" class="pull-right">
                            <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                            <input id="roomName" name="roomName" class="input-small" type="text" placeholder="Room Name">
                            <button class="btn" type="submit">Sign in</button>
                        </form>
                    }

                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
            @content
            </div>

        </div>

    </body>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
</html>