@(connected: String, roomName: String, playerNumber: Int)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <title>PhaseX</title>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("less/main.css")'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script src="../assets/javascripts/ngGame.js"></script>
    </head>
    <body>

        <div class="topbar">
            <div class="fill">
                <div class="container" id="chat">
                    <a class="brand" href="@routes.Application.index()">Websocket Chat-Room</a>

                    @if(connected != null) {
                        <p class="pull-right">
                            Logged in as @connected —
                            <a href="@routes.Application.index()">Disconnect</a>
                        </p>
                    } else {
                        <form action="@routes.Chat.chatRoomString()" class="pull-right">
                            <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                            <input id="roomName" name="roomName" class="input-small" type="text" placeholder="Room Name">
                            <button class="btn" type="submit">Sign in</button>
                        </form>
                    }

                </div>
            </div>
        </div>

        <div id="chatRoom" class="container">

            <div class="content">
            @content
            </div>

        </div>

        <div id="gameContainer" class="row" ng-controller="GameCtrl">
            <div id="opponentCardsContainer" class="col-xs-10">
                <card ng-if="@playerNumber == 0" ng-repeat="card in player2Cards" number="BACK" color="BACK" ></card>
                <card ng-if="@playerNumber == 1" ng-repeat="card in player1Cards" number="BACK" color="BACK" ></card>
            </div>
            <div id="textContainer" class="col-xs-2" align="left">
                <b>{{currentPlayerName}}</b>'s turn<br/>
                current Phase:<br/>
                <b>{{currentPlayerPhase}}</b><br/>
                {{roundState}}
            </div>
            <div id="fieldContainer" class="row">
                <div id="stackContainer" class="col-xs-8">

                    <div id="stackRowLeft" class="col-xs-6">
                        <div id="stack1" ng-click="stackClick(0)" class="stack">
                            <stackcard ng-if="stack1empty == true" number="NO" color="NO" ></stackcard>
                            <stackcard ng-if="stack1empty == false" ng-repeat="card in stack1" number="{{card.number}}" color="{{card.color}}"></stackcard>
                        </div>
                        <div id="stack2" ng-click="stackClick(1)" class="stack">
                            <stackcard ng-if="stack2empty == true" number="NO" color="NO" ></stackcard>
                            <stackcard ng-if="stack2empty == false" ng-repeat="card in stack2" number="{{card.number}}" color="{{card.color}}"></stackcard>
                        </div>
                    </div>

                    <div id="stackRowRight" class="col-xs-6">
                        <div id="stack3" ng-click="stackClick(2)" class="stack">
                            <stackcard ng-if="stack3empty == true" number="NO" color="NO" ></stackcard>
                            <stackcard ng-if="stack3empty == false" ng-repeat="card in stack3" number="{{card.number}}" color="{{card.color}}"></stackcard>
                        </div>
                        <div id="stack4" ng-click="stackClick(3)" class="stack">
                            <stackcard ng-if="stack4empty == true" number="NO" color="NO" ></stackcard>
                            <stackcard ng-if="stack4empty == false" ng-repeat="card in stack4" number="{{card.number}}" color="{{card.color}}"></stackcard>
                        </div>
                    </div>

                </div>
                <div id="pileContainer" class="col-xs-4">
                    <div id="drawPile" class="row" >
                        <img class="PileCard" src="../assets/images/Card/CardBACK.png" ng-click="drawhidden()">
                    </div>
                    <div id="discardPile" class="row">
                        <pilecard ng-if="discardEmpty == true" number="NO" color="NO" ng-click="discardclick()" ></pilecard>
                        <pilecard ng-if="discardEmpty == false" number="{{discardPile.number}}" color="{{discardPile.color}}" ng-click="discardclick()"></pilecard>
                    </div>
                </div>

            </div>
            <div id="playerCardsContainer" class="row" ng-re>
                <card ng-if="@playerNumber == 0" ng-repeat="card in player1Cards" number="{{card.number}}" color="{{card.color}}" ng-class="styleup(card.selected)" ng-click="cardup(card)"></card>
                <card ng-if="@playerNumber == 1" ng-repeat="card in player2Cards" number="{{card.number}}" color="{{card.color}}" ng-class="styleup(card.selected)" ng-click="cardup(card)"></card>
            </div>
        </div>

    </body>

</html>