@(lobbies: String, playerName: String)

@main("PhaseX - Home", playerName){
    <div ng-app="mainPage">
        <div ng-controller="mainCtrl ">
            <div id="lobbyData" style="display: none" >@lobbies</div>
            <div align="center">
                <img src="assets/images/Logo.png"/>
            </div>

            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <div class="input-group">
                        <input id="newLobbyInput" type="text" class="form-control" placeholder="Enter new Lobby Name">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id="newLobbyBtn" type="button">Enter!</button>
                        </span>
                    </div>
                </div>
            </div>

            @*Printing available lobbies*@
            <div class="row col-xs-offset-3">
                <h3>Available lobbies</h3>
            </div>
            <div class="row">
                <div class="btn-group-vertical col-xs-offset-4 col-xs-4" role="group">
                    <a href="/chat/{{lobby}}" class="list-group-item list-group-item-success" ng-repeat="lobby in freeLobbies">{{lobby}}</a>
                    <a href="#" class="list-group-item list-group-item-danger" ng-repeat="lobby in fullLobbies">{{lobby}}</a>
                </div>
                <a class="glyphicon glyphicon-refresh" href="/"></a>
            </div>
        </div>
    </div>
}
