@(playerName: String, lobbies: String)

<html ng-app="mainPage">
<html lang="en">
    <head>
        <title>PhaseX</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("less/main.css")'>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="../assets/javascripts/mainPage.js"></script>
    </head>
    <body ng-controller="mainCtrl">


        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">PhaseX</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/link-result"><span class="glyphicon glyphicon-user"></span> Profile Information</a></li>
                    @*To show it as a Popup: see http://www.stichpunkt.de/beitrag/popup.html*@
                    <li><a href="/instruction"><span class="glyphicon glyphicon glyphicon-question-sign"></span>Instructions</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </nav>

        <div align="center">
            <img src="assets/images/Logo.png"/>
        </div>

        <div class="row">
            <div class="col-xs-offset-4 col-xs-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter new Lobby Name">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Enter!</button>
                    </span>
                </div>
            </div>


        </div>
        @*Printing available lobbies*@
        <div class="row col-xs-offset-3">
                <h3>Available lobbies</h3>
            </div>
        <div class="row">
            <div id="lobbyData" style="display: none" >@lobbies</div>
            <div class="btn-group-vertical col-xs-offset-4 col-xs-4" role="group">
                <a href="/chat/{{lobby}}" class="list-group-item list-group-item-success" ng-repeat="lobby in
                    freeLobbies">{{lobby}}</a>
                <a href="#" class="list-group-item list-group-item-danger" ng-repeat="lobby in
                    fullLobbies">{{lobby}}</a>
            </div>
            <a class="glyphicon glyphicon-refresh" href="/test"></a>
        </div>
    </body>
</html>