<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PhaseX-Instruction</title>
</head>
<body>
    @*description*@
<div class="panel-group col-xs-offset-3" id="accordion">
    <div class="panel panel-default col-xs-8 row">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#phase1">Phase 1</a>
            </h4>
        </div>
        <div id="phase1" class="panel-collapse collapse col-xs-6">
            <div class="panel-body">A Phase of two triples. (e.g. 3 times card with value 5 and 3 times a
                card with value 10. Color doesn't matter.)</div>
        </div>
    </div>
    <div class="panel panel-default col-xs-8 row">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#phase2">Phase 2</a>
            </h4>
        </div>
        <div id="phase2" class="panel-collapse collapse col-xs-6">
            <div class="panel-body">A street of six numbers. (e.g. cards with value 1, 2, 3, 4, 5, 6. Color doesn't matter.)</div>
        </div>
    </div>
    <div class="panel panel-default col-xs-8 row">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#phase3">Phase 3</a>
            </h4>
        </div>
        <div id="phase3" class="panel-collapse collapse col-xs-6">
            <div class="panel-body">Six cards of the same color. Value doesn't matter.</div>
        </div>
    </div>
    <div class="panel panel-default col-xs-8 row">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#phase4">Phase 4</a>
            </h4>
        </div>
        <div id="phase4" class="panel-collapse collapse col-xs-6">
            <div class="panel-body">A double and a quadruple (e.g. 2 cards with value 5 and 4 cards with
                value 10. Color doesn't matter.</div>
        </div>
    </div>
    <div class="panel panel-default col-xs-8 row">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#phase5">Phase 5</a>
            </h4>
        </div>
        <div id="phase5" class="panel-collapse collapse col-xs-6">
            <div class="panel-body">Two quadruples. (e.g. 4 cards with value 5 and 4 cards with value 10.
                Color doesn't matter.)</div>
        </div>
    </div>
</div>
</body>
</html>