@(title: String, playerName: String, env: securesocial.core.RuntimeEnvironment, scripts: Html = Html(""))(content:
Html)

@import securesocial.core.AuthenticationMethod._

@login = {
@if(playerName != "") {
    @env.providers.values.map { provider =>
        @if(provider.authMethod == OAuth1 || provider.authMethod == OAuth2) {
            @defining("images/providers/%s.png".format(provider.id)) { imageUrl =>
                <li class="noPadding"><a class="loginButton" ng-if="!isUserLoggedIn()" href="@env.routes.authenticationUrl(provider.id, Some("/"))"><img class="noPadding" src="@securesocial.controllers.routes.Assets.at(imageUrl)"/></a></li>
            }
        }
    }
}
}
<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.versioned("less/header.css")'>
        <script src="../assets/javascripts/navBar.js"></script>
        <link rel="import" href="/assets/modules/gameChat.html">
        <link rel="import" href="/assets/modules/gameChatModal.html">
        @scripts
    </head>
    <body>
        <div id="mainNav" ng-controller="navCtrl">
            <nav class="navbar navbar-inverse">
                <div id="playerName" style="display: none" >@playerName</div>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">PhaseX</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li ng-if="isUserLoggedIn()"><a id="profileInformation" href="/link-result"><span
                        class="glyphicon
                        glyphicon-user"></span> Profile
                            Information</a>
                        </li>
                        <li><a id="instructions" href="/instruction"><span class="glyphicon glyphicon-question-sign"></span>
                            Instructions</a>
                        </li>
                        <li><a id="singlePlayer" href="/singlePlayer"><span class="glyphicon glyphicon-thumbs-down"></span>
                            Single Player</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="notInGame()">
                            <a href="#chat" data-toggle="modal" style="padding-top: 4px; padding-bottom: 0px; padding-right: 0px; padding-left: 0px;">
                                <game-chat></game-chat>
                            </a>
                        </li>
                        <li ng-if="notInLobby()"><a id="disconnect" href="@routes.Application.getMainPage()"><span
                        class="glyphicon
                        glyphicon glyphicon-log-out"></span>
                            Leave Lobby</a>
                        </li>
                        <li ng-if="isUserLoggedIn()"><a id="logout" href="/auth/logout"><span class="glyphicon glyphicon-off"></span>
                            Logout</a></li>
                        @login
                        <li ng-if="!isUserLoggedIn()"><a id="loginUserPass" href="/auth/login"><span class="glyphicon glyphicon-log-in"></span>
                            Login with Account</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="content">
        @content
        </div>
        <chat-view modal-id="chat"></chat-view>
    </body>
</html>
