<nav id="main_nav" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PhaseX</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/link-result"><span class="glyphicon glyphicon-user"></span> Profile Information</a></li>
            @*To show it as a Popup: see http://www.stichpunkt.de/beitrag/popup.html*@
            <li><a href="/instruction"><span class="glyphicon glyphicon glyphicon-question-sign"></span>
                Instructions</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/auth/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>
